* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Proxima Nova', sans-serif;
}

.success-text {
    color: $green;
    font-weight: 500;
}

.flex-row {
    display: flex;
}

.align-center {
    align-items: center;
}

ul li {
    list-style: none;
}

button {
    font-family: 'Proxima Nova', sans-serif;
    background: none;
    border: none;

    &:focus {
        outline: none;
    }

    &:hover {
        cursor: pointer;
    }
}

// NAVBAR
.navbar {
    display: flex;
    align-items: center;
    padding: 25px 45px;
    box-shadow: $navbar-shadow;

    &__logo {
        max-width: 90px;
    }

    &__searchbar {
        width: 60%;
        height: 44px;
        margin: 0 40px;
        padding-left: 45px;
        font: 16px 'Proxima Nova', sans-serif;
        font-size: 16px;
        background: $search-bar;
        color: #000;
        border-radius: 4px;
        border: none;

        &::placeholder {
            color: #000;
        }

        &:focus {
            outline: none;
        }
    }


    &__links {
        display: flex;
        margin-left: auto;
    }

    &__links .link {
        padding: 8px;
        font-size: 16px;
        color: $nav-link;
        text-decoration: none;

        &:hover {
            color: lighten($nav-link, 10%);
        }
    }
}

// SUBMENU (MENU, SOCIAL BUTTONS)
.submenu {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;

    ul {
        display: flex;
    }

    ul li {
        font-size: 12px;
        color: $submenu-link;
        text-transform: uppercase;

        &:before {
            content: "/";
            padding: 0 5px;
        }

        &:first-child::before {
            content: "";
            padding: 0;
        }

        &:hover {
            cursor: pointer;
            color: darken($submenu-link, 20%);
        }
    }

    .social-buttons button {
        padding: 2px 8px;
        font-family: 'Proxima Nova', sans-serif;
        font-weight: 500;
        border: 1px solid $social-button-border;
        border-radius: 12px;

        &:hover {
            cursor: pointer;
            color: lighten(#000, 20%);
            border-color: lighten(#000, 20%);
        }

        &:focus {
            outline: none;
        }
        
        svg {
            width: 10px;
            margin-right: 4px;
        }
    }
}

.product {
    max-width: 1000px;
    margin: 50px auto 0;

    &__title {
        font-size: 55px;
        color: $product__title;
    }

    &__condition-info {
        display: flex;
        margin: 10px 0 40px;
        color: $light-grey;

        p {
            padding: 0 5px;
        }
    }

    &__size-price {
        display: flex;
        margin-top: 10px;

        .price {
            font-size: 28px;
            font-weight: 500;
        }
    }

    &__size-price .sizes {
        border-right: 1px solid #ccc;
        padding: 10px 25px 10px 0;

        p {
            margin-bottom: 8px;
            font-size: 17px;
            font-weight: 600;
            color: $light-grey;
        }

        button {
            display: flex;
            align-items: center;
            font-size: 22px;
            background: none;
        }
        button svg {
            width: 14px;
            margin-left: 15px;
        }
    }

    &__size-price .last-sale {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 25px;
        text-align: center;

        .last-sale-label {
            margin-right: 16px;
            color: $light-grey;
        }

        .available-sizes {
            margin-top: 4px;
            font-size: 13px;
            font-weight: 600;
        }
    }

    &__size-price .lowest-ask-price, .highest-bid-price {
        text-align: center;

        .button-container {
            color: $white;
            border-radius: 8px;
            margin-left: 50px;
            padding: 10px 12px;
            display: flex;
            align-items: center;
            margin-bottom: 6px;

            &:hover {
                transition: .5s background;
            }

            .light-text {
                font-size: 16px;
            }

            .fs-lg {
                font-size: 28px;
                font-weight: 500;
            }

            .y-divider {
                border-right: 1px solid black;
                align-self: stretch;
                margin: 0 18px;
            }
        }

        .all-asks, .all-bids {
            color: black;
            font-size: 13px;
            text-decoration: none;
            font-weight: 600;
            cursor: pointer;
            text-transform: capitalize;
        }
    }

    &__size-price .lowest-ask-price {
        .button-container {
            background: $green;

            &:hover {
                background: darken($green, 2%);
            }

            .light-text {
                color: #c6e6c2;
            }

            .y-divider {
                border-right-color: #348a28;
            }

        }
    }


    &__size-price .highest-bid-price {
        .button-container {
            background: $red;

            &:hover {
                background: darken($red, 2%);
            }

            .light-text {
                color: #ffcfcf;
            }

            .y-divider {
                border-right-color: #cc4c4c;
            }
        }
    }
}