* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Proxima Nova', sans-serif;
}

.success-text {
    color: $green;
    font-weight: 500;
}

.flex-row {
    display: flex;
}

.align-center {
    align-items: center;
}

ul li {
    list-style: none;
}

ul li a {
    text-decoration: none;
}

button {
    font-family: 'Proxima Nova', sans-serif;
    background: none;
    border: none;

    &:focus {
        outline: none;
    }

    &:hover {
        cursor: pointer;
    }
}

select {
    background: none;
    border: none;

    &:focus {
        outline: none;
    }
}


