// NAVBAR
.navbar {
    position: relative;
    display: flex;
    align-items: center;
    padding: 25px 45px;
    box-shadow: $navbar-shadow;

    @media all and (max-width: $laptop-lg) {
        padding: 25px 30px;
    }

    @media all and (max-width: $tablet) {
        padding: 20px 30px;
    }

    @media all and (max-width: $mobile) {
        padding: 15px;
    }

    &__logo {
        max-width: 90px;
    }

    &__searchbar {
        width: 60%;
        height: 44px;
        margin: 0 40px;
        padding-left: 25px;
        font: 16px 'Proxima Nova', sans-serif;
        font-size: 16px;
        background: $search-bar;
        color: $black;
        border-radius: 4px;
        border: none;

        @media all and (max-width: $laptop) {
            margin-right: 25px;
        }

         
        @media all and (max-width: $nav-mobile) {
            display: none;
        }
        

        &::placeholder {
            color: $black;
        }

        &:focus {
            outline: none;
        }
    }

    &__mobile {
        display: none;
        margin-left: auto;

        @media all and (max-width: $nav-mobile) {
            display: block;
        }

        div {
            width: 20px;
            height: 2px;
            margin-bottom: 4px;
            border-radius: 1px;
            background: $dark-grey;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__links {
        display: flex;
        margin-left: auto;

        @media all and (max-width: $nav-mobile) {
            display: none;
        }
    }

    &__links .link {
        padding: 8px;
        font-size: 16px;
        white-space: nowrap;
        color: $nav-link;
        text-decoration: none;

        @media all and (max-width: $laptop-lg) {
            padding: 8px 5px;
            font-size: 15px;
        }

        &:hover {
            color: lighten($nav-link, 10%);
        }
    }

    &__desktop {
        display: none;
    }
}

// NAVBAR --MOBILE
.navbar.mobile {
    position: fixed;
    top: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: $white;
    animation: .6s wAn ease-in-out forwards;

    @keyframes wAn {
        from {width: 0;}
        to {width: 100%;}
    }

    .navbar__searchbar {
        margin: 30px 0;
    }

    .navbar__mobile {
        div {
            display: none;
        }

        &::before {
            content: ' \00D7';
            font-size: 40px;
            color: $dark-grey;
        }
    }

    .navbar__links {
        margin-top: 20px;
        text-align: center;

        li {
            margin-top: 10px;
        }
    }

    .navbar__searchbar, .navbar__links, .navbar__logo {
        animation: .8s wAn ease-in-out forwards;
    }

    .navbar__searchbar, .navbar__links, .navbar__desktop {
        display: block;
    }
}