// PRODUCT
.product {
    max-width: 1000px;
    margin: 50px auto 0;

    @media all and (max-width: $laptop-lg){
        margin: 50px 45px;
    }

    @media all and (max-width: $laptop) {
        margin: 50px 35px;
    }

    @media all and (max-width: $tablet-sm) {
        margin: 40px 25px;
    }

    @media all and (max-width: $mobile) {
        margin: 40px 15px;
    }

    &__title {
        font-size: 55px;
        color: $product__title;

        @media all and (max-width: $laptop) {
            font-size: 45px;
        }

        @media all and (max-width: $tablet) {
            font-size: 35px;
        }

        @media all and (max-width: $mobile) {
            font-size: 32px;
        }
    }

    &__condition-info {
        display: flex;
        margin: 10px 0 40px;
        color: $light-grey;

        @media all and (max-width: $tablet-sm) {
            display: none;
        }

        p {
            padding: 0 5px;
        }

        p:first-child {
            padding-left: 0;
        }
    }

    &__size-price {
        display: flex;
        flex-wrap: wrap;
        margin-top: 10px;

        .price {
            font-size: 28px;
            font-weight: 500;

            @media all and (max-width: $tablet) {
                font-size: 22px;
            }
        }
    }

    &__size-price .sizes {
        padding: 10px 25px 10px 0;
        border-right: 1px solid #ccc;

        @media all and (max-width: $tablet) {
            width: 100%;
            margin-bottom: 20px;
            border-right: none;
        }

        p {
            margin-bottom: 8px;
            font-size: 17px;
            font-weight: 600;
            color: $light-grey;
        }

        label {
            font-size: 22px;

            @media all and (max-width: $tablet) {
                font-size: 20px;
            }   
        }

    }

    &__size-price .last-sale {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 25px;
        text-align: center;

        @media all and (max-width: $laptop) {
            display: none;
        }

        .last-sale-label {
            margin-right: 16px;
            color: $light-grey;
        }

        .available-sizes {
            margin-top: 4px;
            font-size: 13px;
            font-weight: 600;
        }
    }

    &__size-price .lowest-ask-price, .highest-bid-price {
        margin-left: 50px;
        text-align: center;

        @media all and (max-width: $tablet) {
            width: 45%;
            margin-left: 0;
        }

        @media all and (max-width: $tablet-sm) {
            width: 100%;
        }

        .button-container {
            display: flex;
            align-items: center;
            margin-bottom: 6px;
            color: $white;
            border-radius: 8px;
            padding: 10px 12px;

            @media all and (max-width: $tablet) {
                justify-content: center;
                width: 100%;
            }

            &:hover {
                transition: .5s background;
            }

            .light-text {
                font-size: 16px;
            }

            .fs-lg {
                font-size: 28px;
                font-weight: 500;

                @media all and (max-width: $tablet) {
                    font-size: 22px;
                }
            }

            .y-divider {
                align-self: stretch;
                margin: 0 18px;
                border-right: 1px solid black;
            }
        }

        .all-asks, .all-bids {
            color: black;
            font-size: 13px;
            text-decoration: none;
            font-weight: 600;
            cursor: pointer;
            text-transform: capitalize;
        }
    }

    &__size-price .lowest-ask-price {
        .button-container {
            background: $green;

            &:hover {
                background: darken($green, 2%);
            }

            .light-text {
                color: #c6e6c2;
            }

            .y-divider {
                border-right-color: #348a28;
            }

        }
    }


    &__size-price .highest-bid-price {

        @media all and (max-width: $tablet) {
            margin-left: 20px;
        }

        @media all and (max-width: $tablet-sm) {
            margin: 20px 0 0;
        }

        .button-container {
            background: $red;

            &:hover {
                background: darken($red, 2%);
            }

            .light-text {
                color: #ffcfcf;
            }

            .y-divider {
                border-right-color: #cc4c4c;
            }
        }
    }

    &__image {
        margin: 100px 0;
        text-align: center;

        img {
            width: 70%;

            @media all and (max-width: $tablet) {
                width: 80%;
            }

            @media all and (max-width: $mobile) {
                width: 100%;
            }
        }
    }

    &__detail-description {
        display: flex;
        font-weight: 300;
        color: $dark-grey;

        
        .info {
            width: 35%;
            font: 20px 'Bebas Neue', sans-serif;

            p {
                margin-bottom: 10px;

                &:last-child {
                    margin: 0;
                }
            }
        }

        .description {
            width: 65%;
            font-size: 16px;

            @media all and (max-width: $tablet) {
                margin-top: 30px;
            }
        }

        @media all and (max-width: $tablet) {
            flex-direction: column;
            
            .info, .description {
                width: 100%;
            }
        }

    }
}