// FONTS
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://cdn.jsdelivr.net/npm/font-proxima-nova@1.0.1/style.min.css');

// COLORS 
$white:             #fff;
$green:             #08a05c;
$light-green:       #c6e6c2;
$red:               #ff5a5f;
$light-red:         #ffcfcf;
$product-banner:    #2e2e2e;
$search-bar:        #f6f6f6

