@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://cdn.jsdelivr.net/npm/font-proxima-nova@1.0.1/style.min.css");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Proxima Nova', sans-serif;
}

.overflow-hidden {
  overflow: hidden;
}

.success-text {
  font-weight: 500;
  color: #08a05c;
}

.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

ul li {
  list-style: none;
}

ul li a {
  text-decoration: none;
}

button {
  font-family: 'Proxima Nova', sans-serif;
  background: none;
  border: none;
}

button:focus {
  outline: none;
}

button:hover {
  cursor: pointer;
}

select {
  background: none;
  border: none;
}

select:focus {
  outline: none;
}

.navbar {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px 45px;
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
}

@media all and (max-width: 1105px) {
  .navbar {
    padding: 25px 30px;
  }
}

@media all and (max-width: 768px) {
  .navbar {
    padding: 20px 30px;
  }
}

@media all and (max-width: 375px) {
  .navbar {
    padding: 15px;
  }
}

.navbar__logo {
  max-width: 90px;
}

.navbar__searchbar {
  width: 60%;
  height: 44px;
  margin: 0 40px;
  padding-left: 25px;
  font: 16px 'Proxima Nova', sans-serif;
  font-size: 16px;
  background: #f6f6f6;
  color: #000;
  border-radius: 4px;
  border: none;
}

@media all and (max-width: 1024px) {
  .navbar__searchbar {
    margin-right: 25px;
  }
}

@media all and (max-width: 900px) {
  .navbar__searchbar {
    display: none;
  }
}

.navbar__searchbar::-webkit-input-placeholder {
  color: #000;
}

.navbar__searchbar:-ms-input-placeholder {
  color: #000;
}

.navbar__searchbar::-ms-input-placeholder {
  color: #000;
}

.navbar__searchbar::placeholder {
  color: #000;
}

.navbar__searchbar:focus {
  outline: none;
}

.navbar__mobile {
  display: none;
  margin-left: auto;
}

@media all and (max-width: 900px) {
  .navbar__mobile {
    display: block;
  }
}

.navbar__mobile div {
  width: 20px;
  height: 2px;
  margin-bottom: 4px;
  border-radius: 1px;
  background: #333;
}

.navbar__mobile:last-child {
  margin-bottom: 0;
}

.navbar__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

@media all and (max-width: 900px) {
  .navbar__links {
    display: none;
  }
}

.navbar__links .link {
  padding: 8px;
  font-size: 16px;
  white-space: nowrap;
  color: #252525;
  text-decoration: none;
}

@media all and (max-width: 1105px) {
  .navbar__links .link {
    padding: 8px 5px;
    font-size: 15px;
  }
}

.navbar__links .link:hover {
  color: #3f3f3f;
}

.navbar__desktop {
  display: none;
}

.navbar.mobile {
  position: fixed;
  top: 0;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #fff;
  -webkit-animation: .5s wAn linear forwards;
          animation: .5s wAn linear forwards;
}

@-webkit-keyframes wAn {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes wAn {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.navbar.mobile .navbar__searchbar {
  margin: 30px 0;
}

.navbar.mobile .navbar__mobile div {
  display: none;
}

.navbar.mobile .navbar__mobile::before {
  content: ' \00D7';
  font-size: 40px;
  color: #333;
}

.navbar.mobile .navbar__links {
  margin-top: 20px;
  text-align: center;
}

.navbar.mobile .navbar__links li {
  margin-top: 10px;
}

.navbar.mobile .navbar__searchbar, .navbar.mobile .navbar__logo {
  -webkit-animation: .8s wAn linear forwards;
          animation: .8s wAn linear forwards;
}

.navbar.mobile .navbar__links {
  margin-left: 0;
}

.navbar.mobile .navbar__searchbar, .navbar.mobile .navbar__links, .navbar.mobile .navbar__desktop {
  display: block;
}

.submenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1000px;
  margin: 50px auto 0;
}

@media all and (max-width: 1105px) {
  .submenu {
    margin: 50px 45px;
  }
}

@media all and (max-width: 1024px) {
  .submenu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 50px 35px;
  }
}

@media all and (max-width: 768px) {
  .submenu {
    display: none;
  }
}

.submenu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media all and (max-width: 1024px) {
  .submenu ul {
    margin-bottom: 10px;
  }
}

.submenu ul li {
  font-size: 12px;
  color: #666;
  text-transform: uppercase;
}

.submenu ul li:before {
  content: "/";
  padding: 0 5px;
}

.submenu ul li:first-child::before {
  content: "";
  padding: 0;
}

.submenu ul li:hover {
  cursor: pointer;
  color: #333333;
}

.submenu .social-buttons button {
  padding: 2px 8px;
  font-family: 'Proxima Nova', sans-serif;
  font-weight: 500;
  border: 1px solid #2e2e2e;
  border-radius: 12px;
}

.submenu .social-buttons button:hover {
  cursor: pointer;
  color: #333333;
  border-color: #333333;
}

.submenu .social-buttons button:focus {
  outline: none;
}

.submenu .social-buttons button svg {
  width: 10px;
  margin-right: 4px;
}

.product {
  max-width: 1000px;
  margin: 50px auto 0;
}

@media all and (max-width: 1105px) {
  .product {
    margin: 50px 45px;
  }
}

@media all and (max-width: 1024px) {
  .product {
    margin: 50px 35px;
  }
}

@media all and (max-width: 500px) {
  .product {
    margin: 40px 25px;
  }
}

@media all and (max-width: 375px) {
  .product {
    margin: 40px 15px;
  }
}

.product__title {
  font-size: 55px;
  color: #333;
}

@media all and (max-width: 1024px) {
  .product__title {
    font-size: 45px;
  }
}

@media all and (max-width: 768px) {
  .product__title {
    font-size: 35px;
  }
}

@media all and (max-width: 375px) {
  .product__title {
    font-size: 32px;
  }
}

.product__condition-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 0 40px;
  color: #999;
}

@media all and (max-width: 500px) {
  .product__condition-info {
    display: none;
  }
}

.product__condition-info p {
  padding: 0 5px;
}

.product__condition-info p:first-child {
  padding-left: 0;
}

.product__size-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 10px;
}

.product__size-price .price {
  font-size: 28px;
  font-weight: 500;
}

@media all and (max-width: 768px) {
  .product__size-price .price {
    font-size: 22px;
  }
}

.product__size-price .sizes {
  padding: 10px 25px 10px 0;
  border-right: 1px solid #ccc;
}

@media all and (max-width: 768px) {
  .product__size-price .sizes {
    width: 100%;
    margin-bottom: 20px;
    border-right: none;
  }
}

.product__size-price .sizes p {
  margin-bottom: 8px;
  font-size: 17px;
  font-weight: 600;
  color: #999;
}

.product__size-price .sizes label {
  font-size: 22px;
}

@media all and (max-width: 768px) {
  .product__size-price .sizes label {
    font-size: 20px;
  }
}

.product__size-price .last-sale {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 25px;
  text-align: center;
}

@media all and (max-width: 1024px) {
  .product__size-price .last-sale {
    display: none;
  }
}

.product__size-price .last-sale .last-sale-label {
  margin-right: 16px;
  color: #999;
}

.product__size-price .last-sale .available-sizes {
  margin-top: 4px;
  font-size: 13px;
  font-weight: 600;
}

.product__size-price .lowest-ask-price, .product .highest-bid-price {
  margin-left: 50px;
  text-align: center;
}

@media all and (max-width: 768px) {
  .product__size-price .lowest-ask-price, .product .highest-bid-price {
    width: 45%;
    margin-left: 0;
  }
}

@media all and (max-width: 500px) {
  .product__size-price .lowest-ask-price, .product .highest-bid-price {
    width: 100%;
  }
}

.product__size-price .lowest-ask-price .button-container, .product .highest-bid-price .button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 6px;
  padding: 10px 12px;
  color: #fff;
  border-radius: 8px;
}

@media all and (max-width: 768px) {
  .product__size-price .lowest-ask-price .button-container, .product .highest-bid-price .button-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
}

.product__size-price .lowest-ask-price .button-container:hover, .product .highest-bid-price .button-container:hover {
  -webkit-transition: .5s background;
  transition: .5s background;
}

.product__size-price .lowest-ask-price .button-container .light-text, .product .highest-bid-price .button-container .light-text {
  font-size: 16px;
}

.product__size-price .lowest-ask-price .button-container .fs-lg, .product .highest-bid-price .button-container .fs-lg {
  font-size: 28px;
  font-weight: 500;
}

@media all and (max-width: 768px) {
  .product__size-price .lowest-ask-price .button-container .fs-lg, .product .highest-bid-price .button-container .fs-lg {
    font-size: 22px;
  }
}

.product__size-price .lowest-ask-price .button-container .y-divider, .product .highest-bid-price .button-container .y-divider {
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  margin: 0 18px;
  border-right: 1px solid black;
}

.product__size-price .lowest-ask-price .all-asks, .product__size-price .lowest-ask-price .all-bids, .product .highest-bid-price .all-asks, .product .highest-bid-price .all-bids {
  color: black;
  font-size: 13px;
  text-decoration: none;
  font-weight: 600;
  cursor: pointer;
  text-transform: capitalize;
}

.product__size-price .lowest-ask-price .button-container {
  background: #08a05c;
}

.product__size-price .lowest-ask-price .button-container:hover {
  background: #089656;
}

.product__size-price .lowest-ask-price .button-container .light-text {
  color: #c6e6c2;
}

.product__size-price .lowest-ask-price .button-container .y-divider {
  border-right-color: #348a28;
}

@media all and (max-width: 768px) {
  .product__size-price .highest-bid-price {
    margin-left: 20px;
  }
}

@media all and (max-width: 500px) {
  .product__size-price .highest-bid-price {
    margin: 20px 0 0;
  }
}

.product__size-price .highest-bid-price .button-container {
  background: #ff5a5f;
}

.product__size-price .highest-bid-price .button-container:hover {
  background: #ff5055;
}

.product__size-price .highest-bid-price .button-container .light-text {
  color: #ffcfcf;
}

.product__size-price .highest-bid-price .button-container .y-divider {
  border-right-color: #cc4c4c;
}

.product__image {
  margin: 100px 0;
  text-align: center;
}

.product__image img {
  width: 70%;
}

@media all and (max-width: 768px) {
  .product__image img {
    width: 80%;
  }
}

@media all and (max-width: 375px) {
  .product__image img {
    width: 100%;
  }
}

.product__detail-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 300;
  color: #333;
}

.product__detail-description .info {
  width: 35%;
  font: 20px 'Bebas Neue', sans-serif;
}

.product__detail-description .info p {
  margin-bottom: 10px;
}

.product__detail-description .info p:last-child {
  margin: 0;
}

.product__detail-description .description {
  width: 65%;
  font-size: 16px;
}

@media all and (max-width: 768px) {
  .product__detail-description .description {
    margin-top: 30px;
  }
}

@media all and (max-width: 768px) {
  .product__detail-description {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .product__detail-description .info, .product__detail-description .description {
    width: 100%;
  }
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 150px;
  padding: 40px 45px 80px;
  background: #3d3d3d;
}

@media all and (max-width: 768px) {
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 100px;
  }
}

.footer__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media all and (max-width: 768px) {
  .footer__group {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__group:first-child {
    margin-bottom: 40px;
  }
}

@media all and (max-width: 500px) {
  .footer__group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__group:first-child {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 1024px) {
  .footer {
    padding: 40px 35px 80px;
  }
}

@media screen and (max-width: 500px) {
  .footer {
    padding: 40px 25px 60px;
  }
}

@media all and (max-width: 375px) {
  .footer {
    padding: 40px 15px 50px;
  }
}

.footer .links-section {
  padding-right: 100px;
}

@media all and (max-width: 1024px) {
  .footer .links-section {
    padding-right: 70px;
  }
}

@media all and (max-width: 500px) {
  .footer .links-section {
    margin-bottom: 25px;
  }
}

.footer .links-section h4 {
  color: #fff;
  margin-bottom: 8px;
}

.footer .links-section ul li a {
  font-size: 13px;
  line-height: 24px;
  white-space: nowrap;
  color: #808080;
}

.footer .links-section ul li a:hover {
  cursor: pointer;
  color: #08a05c;
}

.footer .social-sites {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer .social-sites p {
  font-size: 13px;
  text-align: center;
  color: #999;
}

@media all and (max-width: 1024px) {
  .footer .social-sites p {
    font-size: 12px;
  }
}

.footer .social-sites__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 25px;
}

.footer .social-sites__links img {
  max-width: 22px;
  margin-right: 15px;
}

.footer .social-sites__links img:last-child {
  margin-right: 0;
}

.footer .social-sites__links img:hover {
  cursor: pointer;
}
/*# sourceMappingURL=default.css.map */